<div class="row multisearch-filter">
  <span class="dropdown pull-{{filterIconPosition}} m{{if (eq filterIconPosition 'left') 'l' 'r'}}-2">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{fa-icon "filter" }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#each filters as |filter|}}
        {{multisearch-filter-dropdown-item item=filter}}
      {{/each}}
      <li class="filter-choose-list-item pointer" {{action "clear" true}}>
        <span>Clear filters</span>
      </li>
    </div>
  </span>
  {{#each (filter-by 'hidden' false filters) as |filter|}}
    {{#if filter.checked}}
      <div class="col-md-{{if filter.columnSize filter.columnSize columnSize}} {{if (eq filterIconPosition 'right') 'mr-2 col-r' 'ml-2'}}">
        {{#if (eq filter.type 'text')}}
          <div class="icon-addon addon-sm">
            {{input-trim
              id=(unique-name-helper
              model="seachFilter"
              name=filter.searchPlaceHolder
              dbid=filter.searchTarget)
              setLastKeyUpValue=(action 'setLastKeyUpValue')
              key-up=(action "inputKeyUp")
              enter=(action "changeFilter")
              on-blur=(action "changeFilter")
              focus-out=(action "changeFilter")
              type="text"
              class="form-control"
              value=filter.searchVal
              placeholder=filter.searchPlaceHolder
            }}
            <label for={{title}} class="glyphicon glyphicon-search" rel="tooltip" title={{filter.searchTarget}}></label>
          </div>
        {{else if (eq filter.type 'checkbox')}}
          <div class="checkbox multisearch-checkbox">
            <label>
              {{input id=(unique-name-helper model="seachFilter" name=filter.searchPlaceHolder dbid=filter.searchTarget) type="checkbox" checked=filter.checkboxValue}}
              {{filter.searchPlaceHolder}}
            </label>
          </div>
        {{else if (eq filter.type 'select')}}
          <div class="position-rel">
            {{ember-selectize
              class='multisearch-select'
              content=filter.content
              placeholder=filter.searchPlaceHolder
              optionValuePath=filter.optionValuePath
              optionLabelPath=filter.optionLabelPath
              selection=filter.selectValue
              id=(unique-name-helper model='multisearchFilterSelect' name=filter.searchPlaceHolder dbid='select')
            }}
          </div>
        {{else if (eq filter.type 'multiselect')}}
          <div class="position-rel">
            {{ember-selectize
              class='multisearch-multiselect'
              content=filter.content
              multiple=true
              placeholder=filter.searchPlaceHolder
              optionValuePath=filter.optionValuePath
              optionLabelPath=filter.optionLabelPath
              selection=filter.multiselectValue
              add-item=(action 'changeFilter')
              remove-item=(action 'changeFilter')
              id=(unique-name-helper model='multisearchFilterSelect' name=filter.searchPlaceHolder dbid='select')
            }}
          </div>
        {{else if (eq filter.type 'date')}}
          <div class="multisearch-date-wrapper">
            <div class="pikaday-input-wrapper">
              {{pikaday-input
                  value=filter.dateValue
                  readonly="readonly"
                  placeholder=filter.searchPlaceHolder
                  onSelection=(action (mut filter.dateValue))
                  yearRange="2000,currentYear"
                  format="MM/DD/YYYY"
                  id=(unique-name-helper model='multisearchFilterDate' name=filter.searchPlaceHolder dbid='date')
              }}

              {{#pikaday-clear-icon targetDate=filter.dateValue icon='fa-times'}}{{/pikaday-clear-icon}}
            </div>
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/each}}
</div>

{{yield}}
